/* -------------------------------------
                  common styles or utilities
            -------------------------------------------------- */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

/* -------------------------------------
                  top banner style
            -------------------------------------------------- */

.top-banner {
    background-color: #161616;
    display: flex;
    color: white;
    width: 1321px;
    height: 646px;
    margin: 50px 140px;
    border-radius: 20px;
    margin-bottom: 130px;
}

.intro {
    margin: 30px 106px;
}

.top {
    width: 50%;
}

.boldline {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;

}

.player-image img {
    width: 95%;
    margin-top: 5.5em;
}

.button {
    padding: 18px 36px;
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    border-radius: 7px;
}

.intro-para {
    margin-bottom: 4em;
    text-align: justify;
}

/* -------------------------------------
                  middle section
            -------------------------------------------------- */
.all-middle-part {
    width: 1321px;
    margin: 130px 140px 130px 140px;
    display: flex;

}

.side-para {
    width: 200px;
    padding: 20px 40px;
    background-color: white;
    color: #161616;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
    margin: 32px 15px 0px 18px;
}



.side-para-blog {
    width: 200px;
    padding: 20px 40px;
    background-color: #DD0000;
    color: white;
    display: flex;
    flex-direction: column;

    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 32px 15px 0px 18px;

}



.middle-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.middle-left {
    width: 330px;
    height: 330px;
    background-color: #161616;
    border-radius: 12px;

    text-align: center;


    align-items: stretch;
    margin: 0px 24px 0px 0px;

}

.transfer-button {
    padding: 4px 17px;
    border: 1px solid #161616;
    color: #161616;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.transfer-para {
    font-weight: bold;
}

.transfer {
    border-radius: 10px;
    border: 1px solid gainsboro;
    margin-left: 2px;
}

.icon {
    display: flex;
    justify-content: flex-start;
}

.icon1 {
    margin-right: 40px;
}

.fa-solid {
    padding-right: 10px;
}

.transfer-image-down-part {
    margin: 20px 20px;
}

.transfer-image img {
    width: 100%;
}

/* -------------------------------------
                  VIEW ALL PART
            -------------------------------------------------- */
.view-all-d {
    text-align: center;
}

.view-all-d a {
    padding: 12px 24px;
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    border-radius: 7px;
    display: none;
}


/* -------------------------------------
                  FOOTER
            -------------------------------------------------- */
footer {
    width: 1600px;
    height: 430px;
    background-color: #161616;
    color: white;
    text-align: center;
}

.goal-text {
    padding: 110px 0px 30px 0px;

}

hr {
    width: 1320px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 41px;
}

.last-text {
    width: 930px;
    display: grid;
    margin-left: 21.94%;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.last-2-link {
    display: flex;
}


.last-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #B9B9B9;
}


.social-media {
    padding-bottom: 20px;
    font-size: 1.5rem;
    width: 300px;
    display: flex;
    justify-content: space-around;
    display: none;
}

.social-media a {
    color: white;
    text-decoration: none;
}



/* -------------------------------------
                 RESPONSIVENESS - MEDIA QUERYS
            --------------------------------------------*/


/* -------------------------------------
                    1. For tablet devices
            -------------------------------------------------- */
@media screen and (min-width: 688px) and (max-width: 1024px) {

    /* header section  */

    .top-banner {
        width: 95%;
        padding-bottom: 10px;
    }

    .intro {
        width: 40%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        padding-left: 20px;
    }

    .boldline {
        font-size: 40px;
    }

    .intro-para {
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: white;
    }

    .player-image {
        margin-left: 0;
    }

    .player-image img {
        width: 100%;
        position: relative;
        top: 14px;
    }

    /* middle section  */

    .all-middle-part {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto 200px;
    }

    .side-part {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        margin: 0 auto 20px;
        height: 100px;
    }

    .middle-right {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 0;
    }

    .transfer {
        width: 100%;
    }

    .transfer-image img {
        width: 100%;
    }

    #hidden {
        display: none;
    }

    .view-all-d {
        text-align: center;
        margin-bottom: 5em;
    }

    .view-all-d a {
        padding: 12px 24px;
        text-decoration: none;
        color: white;
        background-color: #DD0000;
        border-radius: 7px;
        display: inline;

    }

    /* FOOTER PART */
    footer {
        width: 100%;
    }

    .goal-text {
        width: 70%;
    }

    .last-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding-bottom: 50px;
        width: 90%;

        font-size: 16px;
        font-weight: 500;
        color: #B9B9B9;
    }
}

/* -------------------------------------
                    1. For mobile devices
            -------------------------------------------------- */

/* header section  */

@media screen and (max-width:688px) {
    .top-banner {
        width: 95%;
        padding-bottom: 10px;

        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .intro {
        width: 80%;

        padding-left: 0;
        margin: 0 auto;
        align-items: center;

        display: flex;
        flex-direction: column;
    }

    .boldline {
        font-size: 22px;
        text-align: center;
    }

    .intro-para {
        text-align: center;
    }

    .player-image {
        margin-left: 100px;
        position: relative;
    }

    .player-image img {
        width: 75%;
    }


    /* middle section  */

    .all-middle-part {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto 200px;
    }

    .side-part {

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 80%;
        margin: 0 auto 20px;
        height: 260px;
    }

    .transfer-button {
        margin: 10px;
    }

    .middle-right {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        padding-left: 0;
    }

    .transfer {
        width: 100%;
    }

    .transfer-image img {
        width: 100%;
    }

    /* FOOTER PART */
    footer {
        width: 430px;
        height: 1000px;
    }

    .goal-text {
        width: 80%;

        margin-top: 24px;
    }

    .last-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 50px;
        width: 90%;

        font-size: 16px;
        font-weight: 500;
        color: #b9b9b9;
    }

    .last-link {
        margin-bottom: 5em;
    }


}