.flag-d {
    display: flex;
    margin: 53px 30px 20px 30px;
}

.match-time {
    width: 312px;
    height: 242px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    margin-left: 2px;
    text-align: center;
}

.flag-d img {
    width: 93.04px;
    height: 56.18px;
}

.vs-p {
    font-weight: bold;
    font-size: 22px;
    margin: 7px 22px 0px 22px;
}