.flag-d {
    display: flex;
    margin: 53px 30px 20px 30px;
}

.match-time {
    width: 312px;
    height: 242px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    margin-left: 2px;
    text-align: center;
}

.flag-d img {
    width: 93.04px;
    height: 56.18px;
}

.vs-p {
    font-weight: bold;
    font-size: 22px;
    margin: 7px 22px 0px 22px;
}

.german-vs-france-p {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
}

.upcoming-p {
    width: 200px;
    padding: 20px 40px;
    background-color: #DD0000;
    color: white;
    display: flex;
    flex-direction: column;

    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 32px 15px 0px 18px;
}